/*=====================
		Main CSS
======================*/
	.categoryList > li{
		display: inline-block;
		border: 1px solid #ddd;
		border-radius: 3px;
		margin-top: .5em;
		padding: .2em;

		background-color: #F6F6F6; ;
		color: black;
	}

/*====================
		Login Page
=====================*/
	#pageLogin .ui-content{
		height: 100%;
		background: linear-gradient( 
			rgba(0, 0, 0, 0.5), 
			rgba(0, 0, 0, 0.5) ), 
			url("../img/login-page-bg.jpg");
		color: white;
	}

	#sectionLoginForm{
		position: relative;
		top: 15%;
	}

/*===================
	Recipe Boxes
====================*/
	.recipeRow{
		width: 100%;
	}


	/* For Small Devices (Phones) */
		.recipeContainer{
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 1em;

			background-color: white;

		}

		.recipeThumbnail{
			float: left;
			margin: 0;
			overflow: hidden;
			height: 8em;
			width: 100%;
		}

		.recipeThumbnail img{
			width: 100%;
		}

		.recipeCardInfo{
			clear: both;
			padding: .5em;
		}

		.recipeContainer ul{
			padding-left: 0;
		}

		.recipeContainer h4{
			margin-top: .5em;
			margin-bottom: .5em; 
		}

		.recipeCategories{
			padding-left: 1em;
			padding-right:  1em;
		}

	/* For Medium Devices (Tablets) */
	@media (min-width: 500px){
		.recipeContainer:nth-child(1){
			width: 47%;
			float: left;
		}

		.recipeContainer:nth-child(2){
			width: 47%;
			float: right;
		}

		.recipeCategories{
			padding-top: 2.5em;
		}

	}

/*===================
	Recipe Page
====================*/
	.recipePageCard{
		box-sizing: border-box;
		margin-bottom: 1em;
		padding-left: 1em;
		padding-right: 1em;
		background-color: white;
		overflow: hidden;
	}

	.recipePageFirst.recipePageCard{
		padding: 0;
	}

	.recipeMainInfo{
		padding: 0 1em 0 1em;
	}

	.recipePage ul{
		list-style: none;
		padding-left: 0;
	}

	.instructionsList{
		padding-left: 1em;
	}

	.instructionsList li{
		margin-bottom: 1em;
	}
	/* For Small Devices (Phones) */
	.recipeImage img{
		width: 100%; 
	
	}

	/* For Medium Devices (Tablets) */
	@media (min-width: 500px){
		.recipeImage{
			display: inline-block; 
			float: left;
		}

		.recipeImage img{
			width: 10em; 
			height: 10em;
		}

		.recipeMainInfo{
			display: inline-block; 
			padding-left: 1em; 
			float:left;
		}
	}